extends base
block nav
    div
        - let date = new Date(Date.now()).toISOString().slice(0,10).split('-'); date = `${date[1]}-${date[2]}-${date[0]}`
        a.nav-link.nav-link-active(href="/")
            div.button-class Home
        a.nav-link(href=`/diary/${date}`) 
            div.button-class Diary
        a.nav-link(href="/workouts")
            div.button-class Workouts
        a.nav-link(href="/charts")
            div.button-class Charts
    a.nav-link(href="/user")
        div.button-class User
block top
   
block bottom
    